<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="battleship.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <battleship.Properties.Settings>
            <setting name="puntoInicial5" serializeAs="String">
                <value>12, 54</value>
            </setting>
            <setting name="puntoInicial4" serializeAs="String">
                <value>12, 90</value>
            </setting>
            <setting name="puntoInicial3" serializeAs="String">
                <value>12, 126</value>
            </setting>
            <setting name="puntoInicial2a" serializeAs="String">
                <value>12, 162</value>
            </setting>
            <setting name="puntoInicial2b" serializeAs="String">
                <value>103, 162</value>
            </setting>
        </battleship.Properties.Settings>
    </userSettings>
</configuration>